.btn {
  border-radius: 8px;
  background-color: #3c982a;
  box-shadow: inset 0 -2px 0 0 #417505;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  padding:0 16px;
  text-align: center;
  &:hover {
    background-color: #6dc75c;
    box-shadow: inset 0 -2px 0 0 #417505;
  }
  &:active {
    background-color: #3c982a;
    box-shadow: none;
  }
  &.disabled {
    background-color: rgba(60, 152, 42, 0.43);
    box-shadow: inset 0 -2px 0 0 #417505;
  }
  &:focus {
    outline:none;
  }
}