.deliverToYou {
  background: #444444;
  border-radius: 15px 0 0 15px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  color:#ffffff;
  text-align: center;
  width: 410px;
  @media(max-width: 700px) {
    border-radius: 0px;
    width:100%;
  }
  h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
    @media(max-width: 700px) {
      font-size:24px;
      line-height: normal;
      padding:24px 0 16px;
      width:100%;
    }
  }
  .form {
    input {
      background: #ffffff;
      border-radius: 8px;
      border:1px solid #cccccc;
      color: #888888;
      display:inline-block;
      font-size:18px;
      height:66px;
      padding:0 30px;
      text-align: left;
      vertical-align: top;
      width: 82px;
      &:focus {
        outline:none;
        box-shadow: 0 0 2pt 1pt #a8a8a8;
      }
    }
    .btn {
      cursor: pointer;
      display:inline-block;
      height: 66px;
      line-height: 66px;
      margin-left:16px;
      text-align: center;
      vertical-align: top;
      width:88px;
    }
  }
  &.fullWidth {
    border-radius: 0;
    height:100px;
    width:100%;
    @media(max-width: 700px) {
      height: auto;
    }
    h2 {
      display: inline-block;
      line-height: 100px;
      vertical-align: top;
      @media(max-width: 700px) {
        font-size:24px;
        line-height: normal;
        padding:24px 0 16px;
        width:100%;
      }
    }
    .form {
      display:inline-block;
      margin-left:34px;
      padding: 21px 0;
      vertical-align: top;
      @media(max-width: 700px) {
        margin:0;
        padding:0 0 17px;
      }
      input {
        height: 54px;
      }
      .btn {
        height: 56px;
        line-height: 56px;
      }
    }
    &.bottom {
      position: relative;
      margin-top:-6px;
    }
  }
}