.faq {
  background: url(img/faq-bg.svg) no-repeat;
  background-size: cover;
  margin-top:-5px;
  padding:85px 72px 350px;
  @media(max-width: 900px) {
    padding-bottom:85px;
  }
  @media(max-width: 768px) {
    padding:85px 16px;
  }
  h2 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.8;
    @media(max-width: 768px) {
      font-size:24px;
      line-height: 1.25;
    }
  }
  .questions {
    width:100%;
    max-width:728px;
    .question {
      border-bottom:2px solid #b4d8ea;
      color: #222222;
      font-size:24px;
      line-height: normal;
      padding:25px 25px 26px 0;
      position: relative;
      @media(max-width: 768px) {
        font-size: 16px;
      }
      &::before {
        background:url(img/angle-right.png);
        background-size: contain;
        content:'';
        height:22px;
        position: absolute;
        right:11px;
        top:27px;
        width:22px;
        transition: all 0.2s;
      }
      .value {
        padding:0 11px;
      }
      .answer {
        color:#fff;
        font-size:18px;
        line-height: 22px;
        padding:20px 10px;
        &.hide {
          display:none;
        }
        strong{
          font-weight:bold;
        }
        table {
          margin:20px 0 30px;
          width: 100%;
          tr {
            border-bottom:1px solid #fff;
            td {
              padding:10px 0;
            }
          }
          th {
            font-weight: bold;
            padding:10px 0;
            text-align: left;
          }
        }
      }
      &.active {
        &::before {
          transform: rotate(-90deg);
        }
        &:hover {
          &::before {
          transform: rotate(-90deg);
        }
        }
      }
      &:hover {
        &::before {
          transform: rotate(90deg);
        }
      }
    }
  }
}