.footer {
  background:#3cace1;
  height:178px;
  position: relative;
  @media(max-width: 760px) {
    height: auto;
  }
  .logo {
    padding:72px 0 65px 29px;
    height:41px;
    width:186px;
    img {
      width:100%;
    }
    @media(max-width: 760px) {
      margin:0 auto;
      padding: 46px 0 35px;
    }
  }
  .rappieBike {
    height:160px;
    left:130px;
    position: absolute;
    top:18px;
    width:312px;
    @media(max-width: 760px) {
      display:none;
    }
  }
  .footerText {
    color:#ffffff;
    font-size:24px;
    font-weight: bold;
    line-height: 1.25;
    right: 19px;
    position: absolute;
    top:62px;
    width:302px;
    @media(max-width: 800px) {
      width:275px;
    }
    @media(max-width: 760px) {
      padding-bottom:50px;
      position: inherit;
      right: inherit;
      text-align: center;
      top: inherit;
      width: 100%;
    }

  }
}