.header {
  background: url(img/header-bg.svg) no-repeat right;
  height: 600px;
  overflow: hidden;
  position: relative;
  width:100%;
  @media(max-width: 1439px) {
    height: 542px;
  }
  @media(max-width: 1000px) {
    height: 482px;
  }
  @media(max-width: 700px) {
    height: 460px;
  }
  .backgroundLeft {
    background: url(img/header-left.svg) no-repeat left;
    height:600px;
    left:0;
    position: absolute;
    top:0;
    width:676px;
    z-index: 1;
    @media(max-width: 1439px) {
      background-size: cover;
      background-position: right 0;
      height: 542px;
      width:509px;
    }
    @media(max-width: 1000px) {
      height: 482px;
      width: 407px;
    }
    @media(max-width: 700px) {
      background: url(img/header-top.svg) no-repeat top;
      background-size: 100%;
      height: 460px;
      width: 100%;
    }
  }
  .logo {
    position: absolute;
    left: 72px;
    top: 43px;
    z-index: 1;
    img {
      height:54px;
      width: 248px;
    }
    @media(max-width: 1439px) {
      left: 24px;
    }
    @media(max-width: 1000px) {
      left: 16px;
    }
    @media(max-width: 700px) {
      left:6px;
      top:15px;
      img {
        width:100px;
      }
    }


  }
  h1 {
    color: #f9fcfd;
    font-size:64px;
    font-weight: 500;
    line-height: 1.13;
    left:72px;
    position: absolute;
    top: 184px;
    width: 440px;
    z-index: 1;
    @media(max-width: 1439px) {
      left:24px;
      font-size: 56px;
    }
    @media(max-width: 1000px) {
      left:16px;
      font-size:48px;
      width: 312px;
    }
    @media(max-width: 700px) {
      left:6px;
      font-size: 32px;
      line-height: 1.25;
      top:74px;
    }
  }
  .bgGround {
    background: url(img/bg_tree-background.svg) no-repeat;
    height:164px;
    position: absolute;
    top:437px;
    right: 0;
    width:950px;
    z-index: -1;
    @media(max-width: 700px) {
      z-index: 2;
    }
    .tree {
      background:url(img/bg_tree.svg) no-repeat;
      background-size: 100%;
      height: 114px;
      position: absolute;
      right:375px;
      top:-105px;
      width:72px;
      @media(max-width: 1439px) {
        display:none;
      }
      @media(max-width: 920px) {
        display:block;
      }
      @media(max-width: 470px) {
        right:235px;
      }
      &.big {
        height:148px;
        right: 255px;
        top: -145px;
        width:99px;
        @media(max-width: 470px) {
          display:none;
        }
      }

    }
  }
  .phone {
    background:url(img/320-i-phone-stand.png) no-repeat;
    background-size: 100%;
    bottom:0;
    height:538px;
    position: absolute;
    right:0px;
    width:331px;
    @media(max-width: 1439px) {
      height:390px;
      width:247px;
    }
    @media(max-width: 700px) {
      height: 275px;
      width: 200px;
      z-index: 2;
      right:-14px;
    }
  }
  .firstDeliverFree {
    left: 636px;
    height:169px;
    position: absolute;
    top: 30px;
    width:175px;
    @media(max-width: 1439px) {
      right: 43px;
      height: 135px;
      left: inherit;
      top: 35px;
      width: 140px;
    }
    @media(max-width: 1000px) {
      display:none;
    }
  }
  .rappieBike {
    bottom: 65px;
    height: 228px;
    position: absolute;
    right: 445px;
    width: 443px;
    z-index:0;
    @media(max-width: 1250px) {
      right:300px;
      width: 360px;
      bottom:30px;
      height:185px;
    }
    @media(max-width: 920px) {
      display:none;
    }
  }


}