.howItWorks {
  margin:100px auto 0;
  padding-left:84px;
  position: relative;
  max-width:1440px;
  width: calc(100% - 84px);
  @media(max-width: 768px) {
    padding-left:30px;
    width: calc(100% - 30px);
  }
  @media(max-width: 500px) {
    padding-left: 10px;
  }
  h2 {
    color: #444444;
    font-size:40px;
    font-weight: 500;
    line-height: 1.8;
    @media(max-width: 768px) {
      padding-top:60px;
    }
    @media(max-width: 500px) {
      font-size:24px;
      margin-bottom: 33px;
    }
  }
  .steps {
    background:url(img/stipple-line.svg) no-repeat;
    object-fit: contain;
    height:678px;
    margin-top:80px;
    position: relative;
    width: 960px;
    @media(max-width: 1440px) {
      background:url(img/stipple-line-smaller.svg) no-repeat;
      width:400px;
    }
    @media(max-width: 1024px) {
      background:url(img/stipple-line-small.svg) no-repeat;
      width:170px;
      margin-left:50px;
      margin-top:110px;
    }
    @media(max-width: 768px) {
      background:url(img/stipple-line-smallest.svg) no-repeat;
      margin:70px 0 50px 17px;
      width:calc(100% - 30px);
      height: auto;
    }

    .step {
      width:480px;
      @media(max-width: 768px) {
        max-width: 100%;
        height:120px;
      }
      .image {
        position: relative;
        display: inline-block;
        .stepRound {
          background: #000000;
          border-radius: 50%;
          color: #ffffff;
          font-size: 26px;
          height: 35px;
          line-height: 35px;
          margin-top:-44px;
          margin-left:-14px;
          position: relative;
          text-align: center;
          vertical-align: top;
          width: 35px;
          z-index: 1;
          @media(max-width: 768px) {
            margin-top:0;
            margin-left:0;
          }
        }
        @media(max-width: 768px) {
          img {
            display:none;
          }
        }
      }
      .info {
        display:inline-block;
        padding: 20px 0 20px 20px;
        vertical-align: top;
        width:350px;
        @media(max-width: 768px) {
          padding: 0 0 0 20px;
        }
        @media(max-width: 500px) {
          padding-left: 8px;
          width:calc(100% - 50px);
        }
        h3 {
          color:#444444;
          font-size: 32px;
          font-weight: 500;
          margin-bottom: 11px;
          @media(max-width: 768px) {
            font-size:20px;
            margin-bottom:13px;
          }
        }
        .description {
          color: #888888;
          font-size: 16px;
          font-weight: 500;
          line-height: 22px;
          width: 320px;
          a {
            color: #888888;
          }
          @media(max-width: 500px) {
            width:100%;
          }
        }
      }
      &.one {
        position: relative;
        top:-40px;
        @media(max-width: 1024px) {
          left:-50px;
          top:-70px;
        }
        @media(max-width: 768px) {
          top:-35px;
          left:-17px;
        }
      }
      &.two {
        position: relative;
        margin-left:464px;
        margin-top: 35px;
        @media(max-width: 1440px) {
          margin-left:350px;
          margin-top:20px;
        }
        @media(max-width: 1024px) {
          margin-left:115px;
          margin-top:50px;
        }
        @media(max-width: 768px) {
          margin-left:-17px;
          margin-top: -25px;
        }
      }
      &.three {
        margin-top:175px;
        margin-left:44px;
        @media(max-width: 1024px) {
          margin-top: 155px;
          margin-left: -42px;
        }
        @media(max-width: 768px) {
          margin-left:-17px;
          margin-top:20px;
        }
      }
    }
  }
  .rappieBike {
    bottom: 0;
    position: absolute;
    height: 230px;
    left:795px;
    width:445px;
    @media(max-width: 1440px) {
      left:inherit;
      right:40px;
    }
    @media(max-width: 950px) {
      display:none;
    }
  }
}