@font-face {
  font-family: HamburgTS;
  src: url(fonts/HamburgTS-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: HamburgTS;
  src: url(fonts/HamburgTS-Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: HamburgTS;
  src: url(fonts/HamburgTS-Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: HamburgTS;
  src: url(fonts/HamburgTS-XBold.otf);
  font-weight: 600;
}

body {
  font-family: HamburgTS !important;
}