.popupDelivery {
  background: rgba(0,0,0,0.7);
  bottom: 0;
  position: fixed;
  left:0;
  right:0;
  top:0;
  z-index: 1000;
  .value {
    background:white;
    border-radius: 8px;
    padding: 30px;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -47%);
    width:734px;
    @media(max-width: 820px) {
      border-radius: 0;
      width: calc(100% - 60px);
      height: 100%;
      top:0;
      left:0;
      transform: none;
      @media(max-width: 470px) {
        padding:10px;
        width: calc(100% - 20px);
      }
    }
    .close {
      background: url(img/close.png) no-repeat;
      background-size: 100%;
      cursor: pointer;
      height: 20px;
      position: absolute;
      right: 16px;
      top:16px;
      width: 20px;
    }
    .images {
      text-align: center;
      padding:20px 0 50px;
      .rappieBike {
        display:inline-block;
        height: 160px;
        margin-left: -65px;
        margin-right: 27px;
        vertical-align:middle;
        width:305px;
        @media(max-width: 470px) {
          margin-left:-120px;
        }
        @media(max-width: 410px) {
          margin-left:-140px;
          margin-right: 5px;
        }
      }
      .firstDeliverFree {
        display:inline-block;
        height: 101px;
        vertical-align:middle;
        width: 106px;
      }
    }
    .information {
      color:#3cace1;
      line-height: 32px;
      margin-bottom:35px;
      text-align: center;
      h2 {
        font-size: 32px;
        font-weight: bold;
      }
      h3 {
        font-size: 24px;
      }
    }
    .infoApp {
      text-align: center;
      h4 {
        color:#000000;
        font-size: 18px;
        line-height: 1.22;
        margin-bottom: 15px;
      }
      .buttons {
        margin-bottom:15px;
        a:first-child {
          margin-right:19px;
        }
      }
      .subtext {
        color:#444444;
        font-size:13px;
        padding-bottom: 20px;
        a {
          color:#444444;
        }
      }
    }
    .no {
      .information {
        margin-bottom: 47px;
      }
      .form {
        text-align: center;
        .description {
          color:#000000;
          font-size: 16px;
          font-weight: 500;
          line-height: 1.38;
          text-align: center;
          margin:0 auto 29px;
          max-width: 368px;
          width:100%;
        }
        .row {
          margin: 0 auto 13px;
          max-width: 368px;
          width:100%;
          @media(max-width: 410px) {
            margin-bottom: 5px;
          }
          .option {
            display:inline-block;
            vertical-align: top;
            width: calc(50% - 22px);
            &:first-child {
              margin-right: 44px;
            }
            @media(max-width: 410px) {
              margin-bottom: 15px;
              width:100%;
              &:first-child {
                margin-right: 0px;
              }
            }
            label {
              color:#000000;
              display: inline-block;
              font-size: 16px;
              font-weight: bold;
              line-height: 1.38;
              text-align: left;
              width: 100%;
              @media(max-width: 410px) {
                width: 62px;
              }
            }
            input {
              border:1px solid #888888;
              border-radius: 8px;
              height: 44px;
              line-height: 44px;
              padding:0 10px;
              width: calc(100% - 25px);
              @media(max-width: 410px) {
                display: inline-block;
                width:calc(100% - 90px);
              }
              &:focus {
                outline:none;
              }
            }
          }
        }
        .errors {
          color: #ef4f63;
          height:15px;
          margin-bottom:15px;
          @media(max-width: 410px) {
            margin-bottom: 5px;
          }
        }
        button {
          height: 44px;
        }
      }
    }
    .description {
      font-size: 17px;
      font-weight: 500;
      line-height: 1.38;
      margin:0 auto;
      text-align: center;
      width:386px;
    }
    .socials {
      margin-top:35px;
      text-align: center;
      .social {
        display: inline-block;
        margin-right: 10px;
        height: 32px;
        width:32px;
        &:last-child {
          margin-right:0;
        }
        img {
          width:100%;
        }
      }
    }
  }
}