.sellingPoints {
  padding-top:100px;
  position: relative;
  width:100%;
  @media(max-width: 767px) {
    padding-top:30px;
  }
  .row {
    width:100%;
    @media(max-width: 1150px) {
      padding: 0 20px;
    }
    @media(max-width: 767px) {
      padding:0;
    }
  }
  .sellingPoint {
    text-align: center;
    margin:0 auto;
    width:100%;
    max-width: 320px;
    @media(max-width: 767px) {
      margin:0px;
      padding-left:22px;
      max-width:calc(100% - 22px);
      text-align: left;
      &.fresh {
        .image {
          img {
            transform: scale(1.25);
          }
        }
      }
    }
    .image {
      margin-bottom: 13px;
      @media(max-width: 767px) {
        display:inline-block;
        margin-right: 5px;
        vertical-align: middle;
        width:50px;
        img {
          width:100%;
          max-width:45px;
        }
      }
    }
    &.euro {
      padding-top:22px;
      .image {
        margin-bottom: 25px;
      }
    }
    &.free {
      padding-top:24px;
      .image {
        margin-bottom:27px;
      }
    }

    h3 {
      color:#222222;
      font-size: 24px;
      font-weight: 500;
      line-height: 1.25;
      margin-bottom:16px;
      @media(max-width: 767px) {
        display:inline-block;
        vertical-align: middle;
      }
      @media(max-width: 600px) {
        font-size:16px;
      }
      @media(max-width: 440px) {
        span {
          display:none;
        }
      }
    }
    .description {
      color:#888888;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      padding:0 23px;
      @media(max-width: 767px) {
        display:none;
      }
    }
  }


  .overFlowWhite {
    background: #ffffff;
    bottom:-112px;
    height:112px;
    position: absolute;
    width:100%;
    z-index:2;
  }
  .deliverToYou {
    bottom:-100px;
    height: 195px;
    right:0;
    position: absolute;
    text-align: left;
    h2 {
      padding:40px 0 19px 50px;
      @media(max-width: 700px) {
        padding-left:0;
        text-align: center;
      }
    }
    .form {
      padding-left:50px;
      @media(max-width: 700px) {
        padding-left:0;
        text-align: center;
      }
    }
  }
}

.downloadApp {
  background:url(img/bg-sellingPoint.svg) no-repeat bottom;
  background-size:cover;
  height:870px;
  margin-top: 60px;
  overflow: hidden;
  position: relative;
  width:100%;
  @media(max-width: 1400px) {
    height:800px;
  }
  @media(max-width: 1300px) {
    height:670px;
  }
  @media(max-width: 900px) {
    background-size: 150%;
    background-position: 70% 100%;
  }
  @media(max-width: 767px) {
    background-image: linear-gradient(288deg, #80cae6, #3bade3);
    background-size: 100%;
    margin-top: 0px;
  }
  .iphone {
    background:url(img/iphone.png) no-repeat;
    background-size: 100%;
    bottom:-185px;
    height: 770px;
    position: absolute;
    width: 374px;
    @media(max-width: 900px) {
      left: 39px;
      height:693px;
      width:337px;
    }
    @media(max-width: 767px) {
      bottom:-150px;
      left:inherit;
      right:20px;
      z-index: 0;
    }
    @media(max-width: 680px) {
      height:520px;
      width:230px;
      right:50%;
      margin-right:-150px;
    }
  }
  .information {
    position: absolute;
    bottom: 0;
    color:white;
    height:485px;
    margin-left:calc(374px + 93px);
    text-align: left;
    width:342px;
    @media(max-width: 900px) {
      margin-left:360px ;
    }
    @media(max-width: 767px) {
      margin:20px;
      position: inherit;
      left:50%;
      height: auto;
    }
    h2 {
      font-size: 40px;
      font-weight: 500;
      line-height: 1.8;
      @media(max-width: 767px) {
        font-size:24px;
      }
    }
    .description {
      font-size:16px;
      font-weight: 500;
      line-height: 1.5;
      margin-bottom: 16px;
    }
    .buttons {
      a:first-child {
        margin-right:17px;
        @media(max-width: 400px) {
          margin-right: 8px;
        }
      }
    }
    .firstDeliverFree {
      height:135px;
      margin-left:16px;
      margin-top:95px;
      width:139px;
      @media(max-width: 900px) {
        margin-top:45px;
      }
      @media(max-width: 680px) {
        margin-top:20px;
      }
      @media(max-width: 470px) {
        width:100px;
      }
    }
  }
  &.bottom {
    background:#fffcfc;
    border-radius: 0 150px 0 0;
    height:448px;
    margin-top:-148px;
    overflow: inherit;
    @media(max-width: 1200px) {
      border-radius: 0;
    }
    @media(max-width: 900px) {
      margin-top:0;
    }
    @media(max-width: 700px) {
      height:620px;
    }
    .iphone {
      background: url(img/iphone_fruit.png) no-repeat;
      right:219px;
      bottom: -178px;
      @media(max-width: 1200px) {
        right:55px;
      }
      @media(max-width: 980px) {
        background-size: 100%;
        height: 750px;
        width:320px;
      }
      @media(max-width: 900px) {
        background-size: 100%;
        height:513px;
        margin-right: 0;
        left:inherit;
        right: 28px;
        width:250px;
      }
      @media(max-width: 700px) {
        bottom:-210px;
        left:50%;
        margin-left:-125px;
      }
      .firstDeliverFree {
        height: 171px;
        position: absolute;
        width: 178px;
        left: -242px;
        top:386px;
        @media(max-width: 900px) {
          height: 120px;
          left: -180px;
          top:180px;
          width:126px;
        }
        @media(max-width: 700px) {
          height:95px;
          left:175px;
          top:-80px;
          width:97px;
        }
      }
    }
    .information {
      color:#444444;
      height:400px;
      margin-left:73px;
      width:480px;
      @media(max-width: 900px) {
        height: 360px;
      }
      @media(max-width: 768px) {
        margin-left:16px;
        position: absolute;
        left:0;
      }
      @media(max-width: 700px) {
        margin-left:10px;
        padding-top:40px;
        position: relative;
        width:calc(100% - 20px );
      }
      h2 {
        margin-bottom:16px;
        @media(max-width: 768px) {
          font-size: 24px;
          margin-bottom:24px;
        }
      }
      .buttons {
        margin-bottom: 18px;
      }
    }
  }
}
